/*---Fonts---*/
/*.roboto{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

/*.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 400;
  font-style: normal;
}*/

/*.didact-gothic{
  font-family: "Didact Gothic", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}*/

/*---Header---*/
header{
  background-image: url("../img/nav_back.png");
  width: 100%;
  height: 110px;
}

.brand-logo{
  height: 80px;
}

.brand-bar{
  background-color: rgba(140, 220, 140, 1);
  position: relative;
  left: 10px;
  top: 8px;
  width: 180px;
  height: 90px;
  padding: 5px 20px;
  border-radius: 10px;
}

.brand-bond{
  left: 1200px;
  top: 22px;
  width: 800px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr; /* две колонки */
}

.bond{
  font-family: "Didact Gothic", serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 5px;
}

a{
  color: #B4FFFF;
  text-decoration: none;
}

/*---Панель кнопок---*/
.navbar-nav{
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
  margin: 0 35%;
}

.nav-item{
  font-family: "Didact Gothic", serif;
  font-size: 18px;
  font-weight: 400;
  flex: 1;
  text-align: center;
  color: #E1E1E1;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

.nav-item::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover{
  color: #B4FFFF;
  transform: scaleX(1);
}

.nav-item:hover::after{
  transform: scaleX(1);
}

.nav-item:active{
  color: fuchsia;
}

.nav-item.active{
  font-weight: 700; /* Более жирный шрифт */
  color: #FFFFFF; /* Или любой другой цвет, чтобы выделить активную ссылку */
  pointer-events: none; /* Отключение реакций на наведение и нажатие */
}

/*---Форма регистрации---*/
.card-custom{
  border-radius: 15px; /* Закругленные края карточки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для карточки */
  padding: 20px; /* Отступы внутри карточки */
}

.form-control{
  border-radius: 10px; /* Закругленные края полей ввода */
}

/*------------*/
.col-form-label{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #505050;
}

.form-check-label{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #505050;
}

.page-title{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #505050;
}

.news-text{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: #505050;
}






/*---Footer---*/
/*footer {
  background-image: url("../img/footer_back.png");
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 1200;
}*/

.footer_textbox{
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  width: 450px;
  background-color: rgba(120,205,100,0.5);
  border-radius: 10px;
}

.posy-font {
  font-family: "Questrial", serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}