<!--{% load static %}-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Контакты</title>
    <link rel="preconnect" href="https://fonts.google.com/">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Questrial&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/main/css/posy_style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="brand-bar">
            <img class="brand_logo" src="../../static/main/img/pm_logo.png" alt="Logo">
        </div>
        <div class="brand-bond">
            <p class="br-item">Адрес в Екатеринурге: ул. Луначарского, д.214</p>
            <p class="br-item">Телефон: 8 (343) 226-46-32</p>
            <p class="br-item">E-mail: <a href="mailto:order@posy.ru?subject=Заказ">order@posy.ru</a></p>
            <p class="br-item">Telegram: <a href="https://t.me/Vegas_Real_Bot">прием заказов в Telegram</a></p>
        </div>
        <div class="header-button">
            <a class="btn btn-outline-light" href="#" role="button">Регистрация</a>
            <a class="btn btn-outline-light" href="#" role="button">Вход</a>
        </div>
    </header>

    <nav class="navbar-expand" style="background-color: #464646">
        <div class="navbar-nav">
            <a class="nav-item" href="#">Заказ цветов</a>
            <a class="nav-item active"  href="#">Контакты</a>
        </div>
    </nav>
0
    <div class="loc-card">
        <div class="card-body">
            <h5>Posy message - доставка цветов</h5>
            <div class="card-bond">
                <p class="ca-item">Адрес в Екатеринурге: ул. Луначарского, д.214</p>
                <p class="ca-item">Телефон: 8 (343) 226-46-32</p>
                <span class="ca-item"><a href="mailto:order@posy.ru?subject=Заказ" class="btn btn-primary outer">Заказать по e-mail</a></span>
                <span class="ca-item"><a href="https://t.me/Vegas_Real_Bot" class="btn btn-primary outer">Заказать в Telegram</a></span>
            </div>
        </div>
        <img src="../../static/main/img/location.png" class="loc-img" alt="карта">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>