<div class="brand-bond">
        <p class="br-item">Адрес в Екатеринурге: ул. Луначарского, д.214</p>
        <p class="br-item">Телефон: 8 (343) 226-46-32</p>
        <p class="br-item">E-mail: <a href="mailto:order@posy.ru?subject=Заказ">order@posy.ru</a></p>
        <p class="br-item">Telegram: <a href="https://t.me/Vegas_Real_Bot">прием заказов в Telegram</a></p>
    </div>
    <div class="header-button">
        <a class="btn btn-outline-light" href="{% url 'register' %}" role="button">Регистрация</a>

        {% if user.is_authenticated %}
            <a class="btn btn-outline-light" href="{% url 'logout' %}" role="button">Выход</a>
        {& else %}
            <a class="btn btn-outline-light" href="{% url 'login' %}" role="button">Вход</a>
        {% endif %}
    </div>